<div class="jumbotron" style="background-image: url(<%= image_path('movie_banner') %>)">
    <h1 class="display-4">Movie Lists</h1>
    <p class="lead">Add any kind of movie.</p>
</div>


<ul class="card-category"><% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list)%></li>
<% end %></ul>

<p class="button-38"><%= link_to 'Create a new list', new_list_path %></p>
